@use "utils" as *;

.box {
  position: relative;
  max-width: pxToRem(500px);
  height: pxToRem(80px);
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: pxToRem(32px);
  background-color: $color-secondary;
  overflow: hidden;
  color: $color-white;
  text-shadow: 0 9px 6px rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}
