@use "utils" as *;

.home {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: pxToRem(24px);
  width: 100%;

  &__banner {
    width: 100%;
    height: pxToRem(220px);
    border-radius: pxToRem(19px);
    background-image: url("https://res.cloudinary.com/db1tp6eqg/image/upload/v1762406027/clou_zt4hme.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: pxToRem(12px);
  }

  &__featured {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24px);
    width: 100%;

    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--books {
      display: grid;
      gap: pxToRem(24px);
      align-items: center;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(pxToRem(180px), 1fr));
    }
  }

  &__search {
    width: 100%;
    max-width: pxToRem(600px);
  }
}
