@use "utils" as *;

.home {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: pxToRem(20px);
  width: 100%;

  @include media-gtsm {
    gap: pxToRem(24px);
  }

  &__banner {
    width: 100%;
    height: pxToRem(160px);
    border-radius: pxToRem(12px);
    background-image: url("https://res.cloudinary.com/db1tp6eqg/image/upload/v1762406027/clou_zt4hme.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media-gtsm {
      height: pxToRem(220px);
      border-radius: pxToRem(19px);
    }
  }

  &__categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: pxToRem(12px);
    overflow-x: auto;
    padding-bottom: pxToRem(8px);
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-gtmd {
      justify-content: center;
      overflow-x: visible;
    }
  }

  &__featured {
    display: flex;
    flex-direction: column;
    gap: pxToRem(20px);
    width: 100%;

    @include media-gtsm {
      gap: pxToRem(24px);
    }

    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: pxToRem(20px);
        @include media-gtmd {
          font-size: pxToRem(24px);
        }
      }
    }

    &--books {
      display: grid;
      gap: pxToRem(12px);
      align-items: center;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(pxToRem(160px), 1fr));

      @include media-gtsm {
        gap: pxToRem(24px);
        grid-template-columns: repeat(auto-fill, minmax(pxToRem(180px), 1fr));
      }
    }
  }

  &__search {
    width: 100%;
    max-width: pxToRem(600px);
  }
}
