<section class="home">
  <div class="home__banner"></div>

  <!-- TODO: Esto debe ser un componente global en shared/components. -->
  <input type="text" placeholder="Search..." class="home__search" />

  <div class="home__categories">
    <app-button type="secondary"> Cuentos infantiles </app-button>
    <app-button type="secondary"> Aventuras Juveniles </app-button>
    <app-button type="secondary"> Literatura Clásica </app-button>
    <app-button type="secondary"> Historia y Biografías </app-button>
    <app-button type="secondary"> Arte y cultura </app-button>
  </div>
</section>
