@use "utils" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: pxToRem(24px);
  margin-right: pxToRem(24px);
  max-height: pxToRem(80px);

  &__icons {
    display: flex;
    align-items: center;
    gap: pxToRem(32px);
  }

  &__items {
    display: flex;
    align-items: center;
    gap: pxToRem(24px);
  }
}
