<header>
  <nav class="navbar">
    <div class="navbar__icons">
      <img
        src="toggle.svg"
        alt="Menu Icon"
        class="menu-icon"
        height="25"
        width="25"
      />
      <img
        src="logo.svg"
        alt="App Logo"
        class="logo"
        height="100"
        width="100"
      />
    </div>

    <div class="navbar__items">
      <app-button type="primary" shape="round">
        <img src="points.svg" alt="Points Icon" height="24" width="24" />
        350P
      </app-button>
      <app-button type="primary" shape="round">
        <img src="alert.svg" alt="Points Icon" height="24" width="24" />
      </app-button>
      <app-button type="primary" shape="round">
        <img src="profile.svg" alt="Points Icon" height="24" width="24" />
      </app-button>
    </div>
  </nav>
</header>
