@use "utils" as *;

:host {
  width: 100%;
}

.input {
  display: flex;
  width: 100%;

  &__item {
    width: 100%;
    padding: pxToRem(16px);
    border-radius: pxToRem(19px);
    border: 1px solid $color-primary;
  }

  .square {
    border-radius: 8px;
  }
}
