@use "utils" as *;

.explore-page {
  display: flex;
  flex-direction: column;
  gap: pxToRem(32px);

  &__categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: pxToRem(32px);
  }

  &__filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: pxToRem(16px);
  }

  &__search-bar {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr auto;
    gap: pxToRem(16px);
  }

  &__filter-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(pxToRem(220px), 1fr));
    gap: pxToRem(16px);
  }

  &__books {
    display: grid;
    gap: pxToRem(24px);
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(pxToRem(180px), 1fr));
  }

  &__sort {
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-size: pxToRem(48px);
  }
}
