@use "utils" as *;

.stories-page {
  display: flex;
  flex-direction: column;
  gap: pxToRem(32px);

  &__summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: pxToRem(32px);
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
