@use "utils" as *;

.layout {
  display: flex;
  flex-direction: column;
  margin-left: pxToRem(24px);
  margin-right: pxToRem(24px);
  height: 100vh;

  &__body {
    display: flex;
    height: 100vh;
    gap: pxToRem(32px);
    height: auto;
    flex: 1;
    overflow: hidden;

    .sidebar {
      width: 100%;
      max-width: pxToRem(300px);
      flex-shrink: 0;
      background: $color-white;
    }

    .content {
      flex: 1;
      overflow-y: auto;
      padding: 0 0 pxToRem(32px) pxToRem(32px);
    }
  }
}
