@use "utils" as *;

.layout {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    gap: pxToRem(32px);
    @include container();

    .sidebar {
      width: 100%;
      max-width: 300px;
      flex-shrink: 0;
      background: $color-white;
    }

    .content {
      flex: 1;
      overflow-y: auto;
      padding: 0 pxToRem(32px) pxToRem(32px);
    }
  }
}
