@use "utils" as *;

.sidebar {
  position: relative;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: pxToRem(12px);
  width: 100%;
  justify-content: space-between;

  &__list {
    list-style: none;
    padding: 1rem;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: pxToRem(4px);
    margin-top: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: pxToRem(12px);
    padding: pxToRem(12px) pxToRem(16px);
    font-size: pxToRem(16px);
    border-radius: 8px;
    color: black;
    justify-content: start;
    cursor: pointer;
    transition: all 0.2s ease;

    @include media-gtsm {
      font-size: pxToRem(18px);
    }

    &:hover {
      background: rgba($color-primary, 0.1);
    }

    &.active {
      background: $color-primary;
      color: $color-white;

      img {
        filter: invert(1);
      }
    }
  }

  &__settings {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: pxToRem(16px);
    font-family: inherit;
    font-size: pxToRem(16px);
    margin-bottom: 1rem;

    @include media-gtsm {
      gap: pxToRem(24px);
      font-size: pxToRem(18px);
    }
  }

  &__option {
    display: flex;
    gap: pxToRem(12px);
    font-family: inherit;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}