<aside class="sidebar" [class.sidebar--open]="true" #sidebar>
  <ul class="sidebar__list">
    @for(option of options; track option){
    <li
      class="sidebar__item"
      [routerLink]="option.link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img
        [src]="option.icon"
        [alt]="'Opción de ' + option.label"
        class="sidebar__logo"
      />
      {{ option.label }}
    </li>
    }
  </ul>

  <div class="sidebar__settings">
    <div class="sidebar__option">
      <img src="setting.svg" alt="Logo" class="sidebar__logo" />
      Configuración
    </div>
    <div class="sidebar__option">
      <img src="help.svg" alt="Logo" class="sidebar__logo" />
      Ayuda
    </div>
  </div>
</aside>
