<aside class="sidebar" [class.sidebar--open]="true" #sidebar>
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <img src="home.svg" alt="Opción de inicio" class="sidebar__logo" />
      Inicio
    </li>
    <li class="sidebar__item">
      <img src="explore.svg" alt="Opción de explorar" class="sidebar__logo" />
      Explorar
    </li>
    <li class="sidebar__item">
      <img
        src="community.svg"
        alt="Opción de comunidad"
        class="sidebar__logo"
      />
      Comunidad
    </li>
    <li class="sidebar__item active">
      <img src="history.svg" alt="Opción de historias" class="sidebar__logo" />
      Tus historias
    </li>
    <li class="sidebar__item">
      <img
        src="favorites.svg"
        alt="Opción de favoritos"
        class="sidebar__logo"
      />
      Favoritos
    </li>
  </ul>

  <div class="sidebar__settings">
    <div class="sidebar__option">
      <img src="setting.svg" alt="Logo" class="sidebar__logo" />
      Configuración
    </div>
    <div class="sidebar__option">
      <img src="help.svg" alt="Logo" class="sidebar__logo" />
      Ayuda
    </div>
  </div>
</aside>
