@use "utils" as *;

.author-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgb(215, 215, 215);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: pxToRem(16px);

    &--statistics {
      display: flex;
      flex-direction: column;
      gap: pxToRem(8px);

      .statistics {
        display: flex;
        gap: pxToRem(16px);
      }
    }
  }

  p,
  h3 {
    margin: 0;
    padding: 0;
  }
}
