@use "utils" as *;

.book-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: pxToRem(12px);
  cursor: pointer;

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: pxToRem(12px);
    transition: transform 0.4s ease;
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  &.book-card--rounded {
    border-radius: 50%;
    &__image {
      border-radius: 50%;
      max-height: 130px;
      max-width: 130px;
      height: 100%;
    }
  }
}
