@use "utils" as *;

.book-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgb(215, 215, 215);

  &__summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: pxToRem(16px);

    &--statistics {
      display: flex;
      flex-direction: column;
      gap: pxToRem(8px);

      .statistics {
        display: flex;
        gap: pxToRem(16px);
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: pxToRem(8px);
    justify-content: center;
    align-items: center;

    .items {
      display: flex;
      gap: pxToRem(8px);
      align-items: center;
    }
  }

  p,
  h3 {
    margin: 0;
    padding: 0;
  }
}
